<%- include('./partials/header.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h1>Escreva sua receita!</h1>
                     <div class="card-body">
                         <form method="POST" action="/salvarreceita">
                            <label>Título</label>
                            <input type="text" placeholder="Título" class="form-control" name="titulo">
                            <br><label>Descrição</label>
                            <div class="mb-3">
                                <textarea class="form-control" placeholder="Escreva sua receita..." id="descricao"></textarea>
                            </div>
                            <a href="/" class="btn btn-success">Salvar</a>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</body>
<%- include('./partials/footer.ejs'); %>