<%- include('./partials/header.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h1>Escreva sua receita!</h1>
                     <div class="card-body">
                         <form method="POST" action="/salvarreceita">
                            <label>Título</label>
                            <input type="text" placeholder="Título" class="form-control" name="titulo">
                            <br><label>Descrição</label>
                            <input type="text" placeholder="Escreva aqui..." class="form-control" name="descricao"><br>
                        <button class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</body>
<%- include('./partials/footer.ejs'); %>