<%- include('./partials/header.ejs'); %>
<body>
<%- include('./partials/navbar.ejs'); %>

    <div class="container">
        <hr>
        <h2>Lista de Receitas</h2>
        <hr>
        <a href="/receita" class="btn btn-primary">Escreva uma receita</a>
        <hr>
        <% receita.forEach(receita => { %>
            <div class="card">
                <p><%= receita.titulo %></p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"> Descrição</button>
            </div>
        <% }) %>
    </div>

</body>
<%- include('./partials/footer.ejs'); %>
