<%- include('./partials/header.ejs'); %>
<body>
<%- include('./partials/navbar.ejs'); %>
    <div class="container">
        <hr>
        <h3>Lista de Receitas</h3>
        <hr>
        <a href="/escrever" class="btn btn-primary">Escreva uma receita</a>
        <hr>
        <% escrever.forEach(escrever => { %>
            <div class="card">
                <div class="card-body">
                    <p><%= escrever.titulo %></p>
                </div>
                <div class="card-footer"></div>
                    <button class="btn btn-primary"> Descrição</button></a>
                </div>
            </div>
        <% }) %>    
    </div>  

</body>
<%- include('./partials/footer.ejs'); %>
