<%- include('./partials/header.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <div class="container">
        <div class="mb-3 row">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="exampleEmail" placeholder="name@example.com">
        
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleSenha" placeholder="*********">
        </div>
            <a href="/"><button class="btn btn-success">Entrar<button</a>
    </div>
</div>    
</body>
<%- include('./partials/footer.ejs'); %>